.board {
    width: 50%;
    height: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
}

.board-card {
    background-color: #ffebcd;
    padding: 2em;
    margin: .1em;
}

.blue-card {
    background-color: #6495ed;
}

.red-card {
    background-color: #db7093;
}

.grey-card {
    background-color: grey;
}

.black-card {
    background-color: darkslategrey;
    color: lightgrey;
}

.red-player {
    color: red;
}

.blue-player {
    color: blue;
}