body {
    font-size: 1.2em;
}

.top-infobox {
    text-align: center;
}

h1 {
    text-align: center;
}

.board {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 70%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
}

.board-card {
    background-color: #EEEEEE;
    padding: 2em;
    margin: .1em;
    font-size: 1.3em;
    text-align: center;
}

.blue-card {
    background-color: #6495ed;
}

.red-card {
    background-color: #db7093;
}

.grey-card {
    background-color: grey;
}

.black-card {
    background-color: darkslategrey;
    color: lightgrey;
}

.red-player {
    color: red;
}

.blue-player {
    color: blue;
}

.bottom-bar {
    width: 70%;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    justify-items: end;
}