<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/base.js"></script>
    <script>
        window.won = false;
        window.spy = false;
        let reveal = function reveal(data) {
            let card = document.getElementById('card-' + data.word);
            if (card !== undefined) {
                switch (data.team) {
                    case 'blue':
                        card.classList.add('blue-card');
                        break;
                    case 'red':
                        card.classList.add('red-card');
                        break;
                    case 'none':
                        card.classList.add('grey-card');
                        break;
                    case 'death':
                        card.classList.add('black-card');
                        break;
                }
            }
        }
        let set_team_label = function set_team_label(team) {
            let elem = document.getElementById('player');
            elem.innerText = team;
            if (team === 'red') {
                elem.classList.remove('blue-player');
                elem.classList.add('red-player');
            } else if (team === 'blue') {
                elem.classList.remove('red-player');
                elem.classList.add('blue-player');
            }
        };
        let game_state = function game_state(data) {
            let winner = data.winner;
            if (winner !== undefined) {
                window.won = true;
                set_team_label(winner);
                let player_label = document.getElementById('player_label');
                player_label.innerText = 'Winner';
            } else {
                set_team_label(data.team);
            }
            let revealed = data.revealed;
            if (revealed !== undefined) {
                revealed.forEach(reveal);
            }
        }
        let spyReveal = function spyReveal(data) {
            window.spy = true;
            data.cards.forEach(function(card) {
            console.log('spying on card: ' + card.word);
                let div = document.getElementById('spy-indicator-' + card.word);
                switch (card.team) {
                    case 'blue':
                        div.classList.add('spy-blue');
                        break;
                    case 'red':
                        div.classList.add('spy-red');
                        break;
                    case 'none':
                        div.classList.add('spy-grey');
                        break;
                    case 'death':
                        div.classList.add('spy-black');
                        break;
                }
            });
        };
        window.c = wsConnection();
        window.c.onmessage = function (msg) {
            console.log(msg.data);
            let data = JSON.parse(msg.data);
            let game = data.game;
            console.log('update for game: ' + game);
            data.steps.forEach(function (step) {
                if (typeof step === 'object') {
                    if (step.type === 'reveal') {
                        reveal(step);
                    } else if (step.type === 'state') {
                        game_state(step);
                    } else if (step.type === 'reload') {
                        location.reload();
                    } else if (step.type === 'spy') {
                        spyReveal(step);
                    }
                }
            });
        }
        let addClickListenerForWord = function addClickListenerForWord(word) {
            let id = 'card-' + word;
            let elem = document.getElementById(id);
            let clickListener = function () {
                if (window.spy) {
                    return;
                }
                window.c.send(
                    JSON.stringify({
                        game: '{{ game_name }}',
                        ident: '{{ game_ident }}',
                        steps: [
                            {type: 'reveal', word: word}
                        ]
                    })
                );
                elem.removeEventListener('click', this);
            };
            elem.addEventListener('click', clickListener);
        }
        let addClickListeners = function () {
            {% for card in cards %}
                addClickListenerForWord('{{ card.word }}')
            {% endfor %}
        };
        let skip = function skip() {
            window.c.send(JSON.stringify({
                game: '{{ game_name }}',
                ident: '{{ game_ident }}',
                steps: [
                    {type: 'skip'}
                ]
            }));
        };
        let spy = function spy() {
            if (!window.spy) {
                window.c.send(JSON.stringify({
                    game: '{{ game_name }}',
                    ident: '{{ game_ident }}',
                    steps: [
                        {type: 'spy'}
                    ]
                }));
            }
        };
        let reset = function reset() {
            window.c.send(JSON.stringify({
                game: '{{ game_name }}',
                ident: '{{ game_ident }}',
                steps: [
                    {type: 'reset'}
                ]
            }));
        };
        let copyJoinLink = function copyJoinLink() {
            copyToClipboard(window.location.href);
        };
    </script>
</head>
<body>
<h1>Codenamer</h1>
<div class="top-infobox">
    <h3>Game: {{ game_name }}</h3>
    <span id="player_label">Player</span>: <span id="player" class="red-player">red</span>
    <button type="button" onclick="skip()">Skip Turn</button>
</div>
<div class="board">
    {% for card in cards %}
    <div id="card-{{ card.word }}" class="board-card">
        <div id="spy-indicator-{{ card.word }}" class="spy-box"></div>
        {{ card.word }}
    </div>
    {% endfor %}
</div>
<div class="bottom-bar">
    <button type="button" onclick="spy()">Spy</button>
    <button type="button" onclick="reset()">New Game</button>
    <button type="button" onclick="copyJoinLink()">Copy Link</button>
</div>
<script>
    (function () {
        addClickListeners();
        let update = function update() {
            console.log('update');
            window.c.send(
                JSON.stringify({
                    game: '{{ game_name }}',
                    ident: '{{ game_ident }}',
                    steps: []
                })
            );
            if (!window.won) {
                window.setTimeout(update, 1000);
            }
        };
        window.setTimeout(update, 500);
    })();
</script>
</body>
</html>